src/main/resources/xsd/sampleInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://sample.dto.onboarding.icellmobilsoft.hu/invoice"
           xmlns="http://sample.dto.onboarding.icellmobilsoft.hu/invoice"
           elementFormDefault="qualified">

    <xs:simpleType name="SimpleText50Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SourceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="JSON"/>
            <xs:enumeration value="XML"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UnitOfMeasureType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KG"/>
            <xs:enumeration value="PIECE"/>
            <xs:enumeration value="HOUR"/>
            <xs:enumeration value="CUSTOM"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DecimalType">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="LineType">
        <xs:sequence>
            <xs:element name="id" type="IdType"/>
            <xs:element name="name" type="SimpleText50Type"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="unitOfMeasure" type="UnitOfMeasureType"/>
            <xs:element name="customUnitOfMeasure" type="xs:string" minOccurs="0"/>
            <xs:element name="unitPrice" type="DecimalType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LineListType">
        <xs:sequence>
            <xs:element name="line" type="LineType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="InvoiceLineListType">
        <xs:sequence>
            <xs:element name="line" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InvoiceType">
        <xs:sequence>
            <xs:element name="id" type="IdType"/>
            <xs:element name="invoiceNumber" type="SimpleText50Type"/>
            <xs:element name="invoiceType" type="xs:string"/>
            <xs:element name="supplierTaxNumber" type="xs:string"/>
            <xs:element name="customerTaxNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="lines" type="InvoiceLineListType" minOccurs="0"/>
			<xs:element name="sumPrice" type="DecimalType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="InvoiceListType">
        <xs:sequence>
            <xs:element name="invoice" type="InvoiceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InvoiceDataType">
        <xs:sequence>
            <xs:element name="invoice" type="InvoiceType"/>
            <xs:element name="lines" type="LineListType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InvoiceDataListType">
        <xs:sequence>
            <xs:element name="invoiceData" type="InvoiceDataType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LineListQueryType">
        <xs:sequence>
            <xs:element name="name" type="SimpleText50Type" minOccurs="0"/>
            <xs:element name="unitOfMeasure" type="UnitOfMeasureType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InvoiceDataListQueryType">
        <xs:sequence>
            <xs:element name="invoiceNumber" type="SimpleText50Type" minOccurs="0"/>
            <xs:element name="invoiceType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SampleType">
        <xs:sequence>
            <xs:element name="lines" type="LineListType"/>
            <xs:element name="invoices" type="InvoiceListType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="sample">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="SampleType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="BaseRequestType">
    </xs:complexType>

    <xs:complexType name="BaseResponseType">
    </xs:complexType>

    <xs:simpleType name="PageType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="21474836" />
            <xs:fractionDigits value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RowsType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="100" />
            <xs:totalDigits value="3" />
            <xs:fractionDigits value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="QueryRequestDetails">
        <xs:sequence>
            <xs:element name="rows" type="RowsType"/>
            <xs:element name="page" type="PageType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="OrderByTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASC" />
            <xs:enumeration value="DESC" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LineListQueryOrderByType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="UNIT_OF_MEASURE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="LineListQueryOrderType">
        <xs:sequence>
            <xs:element name="order" type="LineListQueryOrderByType"/>
            <xs:element name="type" type="OrderByTypeType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="InvoiceDataListQueryOrderByType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVOICE_NUMBER"/>
            <xs:enumeration value="INVOICE_TYPE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="InvoiceDataListQueryOrderType">
        <xs:sequence>
            <xs:element name="order" type="InvoiceDataListQueryOrderByType"/>
            <xs:element name="type" type="OrderByTypeType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- REQUEST/RESPONSE ELEMENTS -->
    <xs:element name="SampleRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="SampleRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="InitDataRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InitDataRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="LineRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LineRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="LineResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LineResponseType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="LineListQueryRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LineListQueryRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="LineListQueryResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LineListQueryResponseType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="InvoiceDataRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InvoiceDataRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="InvoiceDataResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InvoiceDataResponseType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="InvoiceDataListQueryRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InvoiceDataListQueryRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="InvoiceDataListQueryResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InvoiceDataListQueryResponseType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- REQUEST/RESPONSE COMPLEX TYPES -->
    <xs:complexType name="SampleRequestType">
        <xs:complexContent>
            <xs:extension base="BaseRequestType">
                <xs:sequence>
                    <xs:element name="sample" type="SampleType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LineRequestType">
        <xs:complexContent>
            <xs:extension base="BaseRequestType">
                <xs:sequence>
                    <xs:element name="line" type="LineType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InitDataRequestType">
        <xs:complexContent>
            <xs:extension base="BaseRequestType">
                <xs:sequence>
                    <xs:element name="source" type="SourceType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LineResponseType">
        <xs:complexContent>
            <xs:extension base="BaseResponseType">
                <xs:sequence>
                    <xs:element name="line" type="LineType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LineListQueryRequestType">
        <xs:complexContent>
            <xs:extension base="BaseRequestType">
                <xs:sequence>
                    <xs:element name="queryParams" type="LineListQueryType"/>
                    <xs:element name="orderParams" type="LineListQueryOrderType"/>
                    <xs:element name="paginationParams" type="QueryRequestDetails"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LineListQueryResponseType">
        <xs:complexContent>
            <xs:extension base="BaseResponseType">
                <xs:sequence>
                    <xs:element name="lines" type="LineListType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InvoiceDataRequestType">
        <xs:complexContent>
            <xs:extension base="BaseRequestType">
                <xs:sequence>
                    <xs:element name="invoiceData" type="InvoiceDataType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InvoiceDataResponseType">
        <xs:complexContent>
            <xs:extension base="BaseResponseType">
                <xs:sequence>
                    <xs:element name="invoiceData" type="InvoiceDataType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InvoiceDataListQueryRequestType">
        <xs:complexContent>
            <xs:extension base="BaseRequestType">
                <xs:sequence>
                    <xs:element name="queryParams" type="InvoiceDataListQueryType"/>
                    <xs:element name="orderParams" type="InvoiceDataListQueryOrderType"/>
                    <xs:element name="paginationParams" type="QueryRequestDetails"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InvoiceDataListQueryResponseType">
        <xs:complexContent>
            <xs:extension base="BaseResponseType">
                <xs:sequence>
                    <xs:element name="invoices" type="InvoiceDataListType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>